/*
 * setup
 */

:root {
    --color-primary: white;
    --color-primary-shade: #dddddd;
    --color-primary-text: black;

    --color-secondary: #0d4fd2;
    --color-secondary-tint: #367aff;
    --color-secondary-text: white;
}

html {
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
}

body {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

#markdown-display {
    /* force markdown container to use the remaining viewport */
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

a {
    color: var(--color-primary-text);
    text-decoration: none;
}

/*
 * navigation header
 */

header {
    height: fit-content;
    padding: 1vh 1vw 1vh 1vw;
    border-bottom: 1px solid var(--color-secondary);
    box-shadow: 0 0 5px 0 var(--color-secondary);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;

    background: linear-gradient(to bottom right, var(--color-secondary), var(--color-secondary-tint));
}

header a {
    color: var(--color-secondary-text);
}

header > * {
    margin: 0 1vw 0 0;
}

header > *:first-child { /* explicitly no left margin for first item */
    margin-left: 0;
}

/*
 * horizontal list group
 */

.horizontal-list-group {
    display: flex;
}

.horizontal-list-group-item {
    display: block;
    border: 1px solid var(--color-secondary-tint);
    border-right: none;
    padding: 3px 10px 3px 10px;
}

.horizontal-list-group-item:hover {
    background-color: var(--color-secondary-tint);
}

.horizontal-list-group-item:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.horizontal-list-group-item:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid var(--color-secondary-tint);
}

a.horizontal-list-group-item * {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

/*
 * dropdown
 */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-header {
    color: var(--color-secondary-text);

    border: 1px solid var(--color-secondary-tint);
    border-radius: 8px;

    padding: 3px 10px 3px 10px;
    margin: 0;

    cursor: pointer;
}

.dropdown:hover > .dropdown-header {
    background-color: var(--color-secondary-tint);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;

    border: 3px solid var(--color-secondary-tint);
    border-top: 0;
    box-sizing: border-box;
    background-color: var(--color-primary);

    width: 100%;
}

.dropdown-content p {
    color: var(--color-primary-text);
    margin: 0;
    padding-left: 10px;
}

.dropdown-content p:hover {
    background-color: var(--color-primary-shade);
}

.dropdown:hover > .dropdown-content {
    display: block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*
 * transition
 */

.hide {
    opacity: 0 !important;
}

* {
    opacity: 1;
    transition: opacity 0.3s;
}
